openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - url: http://cptr320.cs.wallwalla.edu:8888/api/2
    description: WWU Class Server
info:
  description: |
    Review the details of the assignment in your lab project README.md file.
  version: "2.0.0"
  title: Lab Project - School
tags:
  - name: student
paths:
  /students:
    post:
      tags:
        - student
      summary: Add a new student
      responses:
        '405':
          description: Invalid input
      requestBody:
        $ref: '#/components/requestBodies/Student'
    get:
      tags:
        - student
      summary: Finds students
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
  /students/{id}:
    get:
      tags:
        - student
      summary: Finds student by id
      parameters:
        - name: id
          in: path
          description: ID of student to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Invalid ID value
        '404':
          description: Student not found
    put:
      tags:
        - student
      summary: Updates a list
      parameters:
        - name: id
          in: path
          description: ID of student that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '405':
          description: Invalid input
      requestBody:
        $ref: '#/components/requestBodies/Student'
    delete:
      tags:
        - student
      summary: Deletes a list
      parameters:
        - name: id
          in: path
          description: Student id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: List not found
components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
  requestBodies:
    Student:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Student'
      description: Student object that needs to be added
      required: true